<form [formGroup]="registerForm" (ngSubmit)="registerSubmited" class="border p-3 rounded-3">
    <div class="row g-o">
        <div class="col text center p-2 mb-3 bg-light">
            <div class="text-center">
                <span class="fs-3"><b>REGISTER</b></span>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="firstname" class="form-label">First Name</label>
           <input type="text" class="form-control" id="firstname" 
           formControlName="firstname">

 <!-- <div class="form-text text-danger" *ngIf="FirstName.errors?.['required']
              && (FirstName.touched || FirstName.dirty)">
              
          <span>*ngIf="FirstName.errors?.['required']</span>First Name is required.
      </div>-->
     <div class="form-text text-danger" *ngIf="registerForm.controls?.['firstname'].touched">
              
          <span *ngIf="registerForm.controls?.['firstname'].errors?.['required']">First Name is required.</span>
          <span *ngIf="registerForm.controls?.['firstname'].errors?.['minlength']">First Name is too short.</span>
          <span *ngIf="registerForm.controls?.['firstname'].errors?.['pattern']">First character should be alphabet.</span>
      </div>
      <!-- <div class="form-text text-danger" *ngIf="FirstName.errors?.['minlength']
              && (FirstName.touched || FirstName.dirty)">
          First Name is too short
      </div>

      <div class="form-text text-danger" *ngIf="FirstName.errors?.['pattern']
              && (FirstName.dirty || FirstName.touched)">
          First character should be alphabet
      </div> -->
        </div>
        
        <div class="col mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" 
            formControlName="lastname">

            <div class="form-text text-danger"
             *ngIf="LastName.errors?.['required']
            && (LastName.dirty || LastName.touched)">
        Last Name is Required.
    </div>
    <div class="form-text text-danger" *ngIf="LastName.errors?.['minlength']
            && (LastName.dirty|| LastName.touched)">
        Last Name is too short.Atleast 2 characters
    </div>

    <div class="form-text text-danger" *ngIf="LastName.errors?.['pattern']
            && (LastName.dirty|| LastName.touched)">
        Name should start with an alphabet
    </div>  
        </div>
    </div>
    <div class="row">
    <div class="col mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" formControlname="email"
        formControlName="email">
        <div class="form-text text-danger" *ngIf="Email.errors?.['required']
        && (Email.dirty || Email.touched)">
    Email is Required.
</div>

<div class="form-text text-danger" *ngIf="Email.errors?.['email']
        && (Email.dirty || Email.touched)">
   Email is Invalid
</div>
</div>
</div>
    <div class="col mb-3">
        <label for="mobile" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="mobile" formControlName="mobile"> 

        <div class="form-text text-danger" *ngIf="Mobile.errors?.['required']
        && (Mobile.dirty || Mobile.touched)">
    Number is required.
</div>
<div class="form-text text-danger" *ngIf="Mobile.errors?.['pattern']
        && (Mobile.touched || Mobile.dirty)">
   Number is Invalid
</div>

<div class="form-text text-danger" *ngIf="Mobile.errors?.['minlength']
        && (Mobile.touched || Mobile.dirty)">
   Number is Short
</div>

<div class="form-text text-danger" *ngIf="Mobile.errors?.['maxlength']
        && (Mobile.touched || Mobile.dirty)">
   Number is Long
</div>
    </div>
    <div class="row">
    <div class="col mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input type="password" class="form-control" id="Pwd" formControlName="pwd"> 
        <div class="form-text text-danger"  *ngIf="PWD.errors?.['required'] && ( PWD.dirty || PWD.touched)">
            Password is required.
        </div>
        <div class="form-text text-danger"  *ngIf="PWD.errors?.['required'] && ( PWD.dirty || PWD.touched)">
            Password should be at least 6 and at the max 15 characters long.
        </div>
    </div>
    <div class="col mb-3">
        <label for="rpwd" class="form-label">Repeat Password</label>
        <input type="password" class="form-control" id="Pwd" formControlName="rpwd">
        <div class="form-text text-danger" [ngStyle]="{'display':repeatPass}">
            repeat pass is Invalid.
     </div>   
    </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </div>
    
</form>
